header {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}
body {
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: 400;
    color: #282828;
    background: #f9f5d7;
}
hr {
  border-color: #d79921;
}
table {
    font-size: 28px;
    font-weight: 700;
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid gray;
}
td.gameword {
    text-align: center;
    padding: 1.25em 0.75em;
    border-style: dotted;
}
td.redword.activated {
    background: #cc241d;
}
td.blueword.activated {
    background: #458588;
}
td.neutralword.activated {
    background: #d79921;
}
td.poisonword.activated {
    background: #282828;
    color: #ebdbb2;
}
